{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}NGO Project{% endblock %}</title>
     <link href="{% static "base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header" style="background-color:#90919F;">
    <p align="left"><font size="6"><b>NGO</b></font></p>
    {% block header %}
        {% if user.username %}
            User: {{ user.username }} | <a href="{% url 'logout' %}?next={{request.path}}">logout</a>
        {% else %}
            <a href="{% url 'login' %}?next={{request.path}}">login</a>{% endif %}
    {% endblock %}
</div>
<div id="sidebar" style="background-color:#EEEEEE;height:1000px;width:180px;float:left;">
</div>
<div id="content">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% endblock %}
</div>
<div id="footer">{% block footer %}{% endblock %}</div>

</body>
</html>